.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  border-top: 1px solid rgb(228, 226, 226);
  border-bottom: 1px solid rgb(228, 226, 226);
  margin: 20px 0;
  padding: 0 10px;
}

.amount {
  padding: 10px;
}

.image {
  height: 80px;
  padding: 5px;
}

.title {
  font-size: 15px;
  padding-left: 5px;
}
